{% extends 'dashboard.html' %}
{% block content %}
<div><a href="{% url 'add' %}"  target="_blank"><button style= "margin-left:200px;">Add</button></a><br><br>
</div>
<div class="col-sm-4">
    <h1 style="text-align:left,center"> Show All Data </h1>
     <table class="table">
       <thead>
             <tr>
               <th scope="col">ID</th><br>
               <th scope="col">Title</th>
               <th scope="col">Description</th>
               <th scope="col">Action</th>
             </tr>
       </thead>
       <tbody>
    {% if show %}
    {% for st in show %}
          <tr>
            <th scope="row">{{st.id}}</th>
            <td>{{st.title}}</td>
            <td>{{st.description}}</td>
            <td style="display:flex;">
             <a href="{% url 'updatedata' st.id %}" class="d-inline"><button>Edit</button></a>
             <form action ="{% url 'deletedata' st.id %}" method="POST" class="d-inline"> 
               {% csrf_token %}
               <input type="submit" class="btn btn-danger"
               value="Delete">
             </form>
            </td>
          </tr>
         {% endfor %}
         {% endif %} 
       </tbody>
     </table><br>
 </div>
 {% endblock content %}